.article-content {
  li {
    display: flex;
  }

  img {
    border-radius: 10px;
    margin-right: 20px;
  }

  .artcle-group {
    margin-bottom: 20px;
  }

  .article-desc {
    min-height: 100px;
  }
}