.profile {
  margin: 50px auto;
  width: 30%;
}

.profle-data div {
  margin-bottom: 10px;
}

.edit-profile {
  background: url('../profile-icon.png') 0 0 no-repeat;
  background-size: 50%;
  display: inline-block;
  height: 30px;
  width: 50px;
}